# colcon/CMake output
build
install
log
Miniconda3-latest-Linux-x86_64.sh

# python
__pycache__/
*.egg-info/

# misc
.vscode
.DS_Store
outputs/

# data & checkpoints
visual_features/
processed_data/
checkpoints/
